/*For mobile devices*/
@media screen and (max-width: 767px) {
  body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--background-color);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  header .logo img {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 15px;
    left: 25px;
  }
  header {
    background-color: var(--background-color);
    height: 10%;

    position: fixed;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  section .welcome-container {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 50px;
    left: 200px;
  }
  .welcome-section {
    position: relative;
    top: 25px;
  }
  .profile-container {
    position: relative;
    top: 150px;
    right: 200px;
  }
  .skills-container {
    margin-top: 450px;
  }
  section .profile-container .my-pic {
    width: 150px;
    height: 150px;
    right: 0px;
    left: 40px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
  }
  section .profile-container .stack-top {
    object-fit: contain;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 200px;
    z-index: 1;
  }
  .introduction-desc {
    width: 250px;
  }
  .introduction-desc {
    position: relative;
    top: 50px;
  }
  h1 {
    font-size: 2rem;
    color: var(--blue-color);
  }
  h2 {
    font-size: 1.1rem;
  }
  .introduction-desc p {
    font-size: 1rem;
  }
  .introduction-desc {
    width: 330px;
  }
  .welcome-container a {
    position: relative;
    top: 60px;
  }

  .skills-image img {
    height: 150px;
    width: 150px;
    position: relative;
    right: 50px;
  }
  .skills-holder {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .skill-logo img {
    width: 30px;
    height: 30px;
  }
  .skills {
    gap: 20px;
  }
  .skill-logo p {
    font-size: 0.5rem;
  }
  .skill-title {
    font-size: 0.7rem;
    margin-left: 10px;
  }
  .my-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .skills-container {
    margin-top: 350px;
  }
  .contact-inner-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .project-section .project-title {
    margin-bottom: 20px;
  }
  .contact-inner-flex-box img {
    width: 150px;
    height: 150px;
  }
  form {
    width: 320px;
    height: 347px;
  }
  .message-btn-container img {
    width: 15px;
    height: 15px;
  }
  .footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .footer {
    background-image: url("/images/wave.svg");
    padding-bottom: 50px;
  }
  .social-links-container img {
    width: 10px;
    height: 10px;
  }
  .social-links-container p {
    font-size: 0.6rem;
  }
  .more-projects-links-container p,
  .achivements-container p {
    font-size: 0.5rem;
  }
  .more-project-links img {
    width: 10px;
    height: 10px;
  }
  .footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .footer {
    background-image: url("../images/wave.svg");

    padding-top: 80px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1365px) {
  header {
    height: 15%;
  }
  main {
    width: 100%;
  }
  .profile-container {
    position: relative;
    top: 230px;
    right: 100px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .skills-image img {
    height: 200px;
    width: 200px;
    position: relative;
    right: 100px;
  }
  .contact-inner-flex-box img {
    width: 250px;
    height: 250px;
  }
  .contact-inner-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  form {
    width: 600px;
    height: 447px;
  }
  .message-btn-container img {
    width: 15px;
    height: 15px;
  }
  .footer {
    gap: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  body {
    width: 100%;
  }
  header {
    background-color: var(--background-color);
    height: 10%;
    width: 10%;
    position: fixed;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  main .welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: none;
    gap: 150px;
    background: linear-gradient(20deg, transparent 65%, #1dd5d0 250%);
    top: 100px;
  }
  .introduction-desc {
    width: 300px;
  }
  section .profile-container .my-pic {
    width: 250px;
    height: 250px;
    right: 0px;
    left: 40px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
  }
  section .profile-container .stack-top {
    object-fit: contain;
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 300px;
    z-index: 1;
  }
  .profile-container {
    position: relative;
    top: 120px;
    right: 50px;
  }
  .skills-container {
    margin-top: 350px;
  }
  .skills-image img {
    height: 150px;
    width: 150px;
    position: relative;
    right: 50px;
  }
  .skill-logo img {
    width: 45px;
    height: 45px;
  }
  .skills {
    gap: 15px;
  }
  .skills-holder {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .skills {
    margin-left: 100px;
  }
  .contact-inner-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  form {
    width: 550px;
    height: 347px;
  }
  .contact-inner-flex-box img {
    width: 250px;
    height: 250px;
  }
  .message-btn-container img {
    width: 16px;
    height: 16px;
  }
  .footer {
    gap: 25px;
  }
  .social-links-container a img {
    width: 20px;
    height: 20px;
  }
  .achivements-container {
    width: 300px;
    height: 200px;
    position: relative;
    bottom: 5px;
  }
}

@media screen and (max-width: 280px) {
  form {
    width: 250px;
    height: 250px;
  }
  .footer {
    width: 100%;
    height: 270px;
  }
  .skill-logo img {
    width: 30px;
    height: 30px;
  }
  .skills {
    gap: 5px;
  }
  section .profile-container .my-pic {
    width: 100px;
    height: 100px;
    right: 0px;
    left: 40px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
  }
  section .profile-container .stack-top {
    object-fit: contain;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 150px;
    z-index: 1;
  }
  .welcome-section {
    width: 280px;
  }
  .introduction {
    font-size: 1.5rem;
    position: relative;
    top: 55px;
    left: 20px;
  }
  .introduction-desc {
    position: relative;
    top: 50px;
    width: 250px;
    font-size: 0.5rem;
    left: 20px;
  }
  .skills-container {
    margin-top: 450px;
  }
  .welcome-container a {
    position: relative;
    top: 50px;
    left: 100px;
  }
}
@media (max-width: 800px) {
  nav .mainMenu {
    height: 75vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}
